@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import "reset";
@import "variables";

body {
  font-family: "Outfit", sans-serif;
  font-size: $font-size;
  height: 100vh;
  background-color: $very-dark-blue-background;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  background-color: $very-dark-blue-card;
  padding: 1.4em;
  border-radius: 1em;
  width: 340px;
  .image-container {
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    height: 16em;
    overflow: hidden;
    border-radius: 0.4em;
    margin-block-end: 1.2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $cyan;
      opacity: 0;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      border-radius: 0.4em;
    }
    .eyeball {
      z-index: 10;
      position: absolute;
      display: none;
    }
    &:hover .modal {
      display: block;
      opacity: 0.5;
    }
    &:hover .eyeball {
      display: block;
    }
  }
  .card-title {
    color: $white;
    font-size: 1.2em;
    margin-block-end: 0.8em;
    letter-spacing: 0.05em;
    cursor: pointer;
    &:hover {
      color: $cyan;
    }
  }
  .card-description {
    color: $soft-blue;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.5;
    margin-block-end: 1em;
  }
  .card-stats {
    display: flex;
    font-size: 0.8em;

    justify-content: space-between;
    color: $soft-blue;
    font-weight: 300;
    border-block-end: 0.05em solid $soft-blue;
    padding-block-end: 1em;
    margin-block-end: 1em;
    .left {
      color: $cyan;
      display: inline-flex;
      align-items: center;
    }
    .right {
      display: inline-flex;
      align-items: center;
    }
    img {
      margin-inline-end: 0.4em;
    }
  }
  .card-foot {
    display: flex;
    align-items: center;

    img {
      width: 12.5%;
      border-radius: 50%;
      border: 1px solid $white;
      margin-right: 0.8em;
    }
    .credit-line {
      color: $soft-blue;
      font-weight: 300;

      .creator {
        color: $white;
        cursor: pointer;
        &:hover {
          color: $cyan;
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  font-size: 11px;
}
a {
  text-decoration: none;
  color: $soft-blue;
}
@media screen and (max-height: 620px) {
  footer {
    display: none;
  }
}
